{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Theriosoft s.a.s</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'home/img/favicon.png' %}" rel="icon">
  <link href="{% static 'home/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
</head>

<body>
<!--  -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="align-items-center" style="margin-top:0px;height: 420px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Lo sentimos</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Lamentamos que la factura no haya quedado como tenia que ser.</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'home/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Cuentanos que paso?</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Theriosoft</h3>
              <p>Para adquirir más información sobre los desarrollos o adquirir un software 100% personalizado puede dejar su mensaje y lo contactaremos</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>CRA 40 #49-24 Ofic. 210<br>Colombia, Medellín</p>
              </div>
              <div>
                <i class="ri-mail-send-line"></i>
                <p>theriosoft@gmail.com</p>
              </div>
              <div>
                <i class="ri-phone-line"></i>
                <p>+57 3116664212</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form id="myForm" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Correo Electrónico" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="text-center">
                <button id="send" type="submit">Enviar Mensaje</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Theriosoft</strong>. Todos los derechos reservados
          </div>
          <div class="credits">
            Diseñado por <a href="http://Theriosoft.com/">Theriosoft</a>
          </div>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'home/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'home/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'home/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'home/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'home/js/main.js' %}"></script>
  <script>
    $(document).ready(function(){
      $("#send").click(function(){
        $.ajax({
          data:{
            "name":$("#name").val(),
            "email":$("#email").val(),
            "subject":$("#subject").val(),
            "message":$("#message").val(),
          },
          success: function(data){
            location.href = `http://localhost:8000/Thanks_Rejection/${data}/1`
          }
        })
      })
    })
  </script>

</body>

</html>